<ion-view class="onboarding" id="onboarding-tour">
  <ion-nav-bar>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button back-button button-clear" ng-show="data.index == 0" ng-click="createDefaultWallet()">
        {{'Skip' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slides class="slides" options="options" slider="data.slider">
    <ion-slide-page>
      <ion-content id="onboard-tour-secure" scroll="false">
        <div class="onboarding-topic" translate>Your wallet holds<br/>crypto currency.</div>
        <div class="onboarding-description" translate>You can spend it<br/>wherever you see this sign.</div>
        <div class="onboarding-illustration-secure"></div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>Just scan the QR code to pay.</div>
          <button class="button button-standard button-secondary" ng-click="slideNext()" translate>
            Got it
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-currency" scroll="false">
        <div class="onboarding-topic" translate>Spend it like the future.</div>
        <div class="onboarding-description" translate>Buy coffee, clothes or even cars<br/> with complete confidence.</div>
        <div class="onboarding-illustration-currency">
          <div id="onboarding-illustration-currency-exchange-rate">1 BTC = {{localCurrencySymbol}}{{localCurrencyPerBtc}}</div>
        </div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>Wallet will offer you the best over the counter price<br/> to let you spend your funds in shops and on websites.</div>
          <button class="button button-standard button-secondary" ng-click="slideNext()" translate>
            Makes sense
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-control" scroll="false">
        <div class="onboarding-topic" translate>You control your wallet.</div>
        <div class="onboarding-description" translate>Cutting-edge security in this app<br /> means your funds are safe.</div>
        <div class="onboarding-illustration-control"></div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>No one can access it <br />apart from you, not even us.</div>
          <button class="button button-standard button-primary" ng-click="createDefaultWallet()" translate>
            Create my wallet
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
</ion-view>
